footer {
   @media (min-width: 575px) {
     background-color: #ffffff7c;
    ;
    .custom-footer {
      border-radius: 0 !important;
      background-color: transparent !important;
    }
  }
}

footer a:hover {
    text-decoration: underline !important;
}
footer a {
    transition: text-decoration 0.3s ease;
}
