.input-group {
  border: 2px solid #2A2A2A;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.form-control {
  outline: none;
  padding: 12px 20px;
  background: transparent;
}

.form-control::placeholder {
  color: #bdbdbd;
  opacity: 1;
}