.testimonial-card {
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
}


.brand-logo {
  height: 40px;
  object-fit: contain;
}

.owl-nav button {
  position: absolute;
  top: 35%;
  background: #2A2A2A !important;
  color: #fff !important;
  border-radius: 50%;
  padding: 10px !important;
}

.owl-nav .owl-prev {
  left: -25px;
}

.owl-nav .owl-next {
  right: -25px;
}
