$font-size-base : 1rem;

$h1-font-size: $font-size-base * 4.5;
$h2-font-size: $font-size-base * 3.5;
$h3-font-size: $font-size-base * 2;
$h4-font-size: $font-size-base * 1.25;
$h5-font-size: $font-size-base ;

// colors
$spacer: 1rem;
$spacers: (
    0: 0,
    1: $spacer * .25,
    2: $spacer * .5,
    3: $spacer,
    4: $spacer * 1.5,
    5: $spacer * 3,
    12: $spacer * 6.625,
    20: $spacer * 1.875,
    28: $spacer * 1.75,
    38: $spacer * 2.375,
    32: $spacer * 2,
    35: $spacer * 2.1875,
    40: $spacer * 2.5,
    55: $spacer * 3.4375,
    60: $spacer * 3.75,
    64: $spacer * 4,
    76: $spacer * 4.75,
    82: $spacer * 10.125,

);

$zindex-levels: (
    n1: -1,
    0: 0,
    1: 1,
    2: 2,
    3: 3
);


$paragraph-margin-bottom: 0;


$custom-grid-breakpoints: (
    xxxl: 1440px
);
$custom-container-max-widths: (
    xxxl:1241px
);


@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';
@import '../node_modules/bootstrap/scss/nav';

$grid-breakpoints : map-merge($map1: $grid-breakpoints, $map2: $custom-grid-breakpoints);
$container-max-widths : map-merge($map1: $container-max-widths, $map2: $custom-container-max-widths);


@import '../node_modules/bootstrap/scss/bootstrap.scss';

@import './hero-section';
@import './header';
@import './company.scss';
@import'./work.scss';
@import'footer.scss';

.orange-btn {
    background: linear-gradient(90deg, #ffb347 0%, #ff914d 100%);
    color: #333;
    border: none;
    padding: 0.375rem 1.75rem;
    border-radius: 40px;
    cursor: pointer;
    transition: background 0.2s;
    display: flex;
    align-items: center;
    gap: 6px;
}

.orange-btn:hover {
    background: linear-gradient(90deg, #ff914d 0%, #ffb347 100%);
}
.gradient-text {
  background: linear-gradient(90deg, #9A72F9, #F6731F);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}